body{
  background-color: #f5f5f5;
}

.content {
  padding-bottom: 0.853333rem;
  background-color: #fff;
}
.title{
	font-size: 0.810667rem;
	color: #333;
	font-weight: bold;
      line-height: 1.024rem;
}
.sm_title{
  font-weight: bold;
  font-size: 0.64rem;
  color: #333;
  line-height: 1.024rem;
}
.text_left{
  text-align: left;
}
.text_center{
  text-align: center;
}
.time{
  line-height: 0.981333rem;
}
em{
	font-size: 0.512rem;
	color: #999;
	font-weight: initial;
      vertical-align: middle;
}
.text{
	font-size: 0.64rem;
	color: #333;
	line-height: 1.024rem;
}
.marginNo{
  margin: 0 !important;
}
/*广告*/
.advertisement{
	height: 6.186667rem;
}
.banner{
    height: 3.072rem;
    padding-top: 0.64rem;
}
.return img,
.advertisement img{
	width: 100%;
}
/*tab导航*/
.tab_nav{
	display: flex;
	box-shadow: 0px 2px 15px 0px rgba(171, 171, 171, 0.36);
}
.tab_nav .tab{
	flex: auto;
	text-align: center;
	font-size: 0.64rem;
	color: #666;
	font-weight: bold;
	height: 1.834667rem;
	line-height: 1.834667rem;
	position: relative;
      z-index: 999;
}
.tab_nav .tab.b_color{
	color: #057ff3;
}
.tab_nav .line.active{
    display: block;
    width: 0.682667rem;
    height: 0;
    border: 0.064rem solid #057ff3;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    margin-left: -0.341333rem;
    bottom: 0.213333rem;
}
.contant{
      padding: 0 0.426667rem 1.28rem;
}
.con_detail{
    padding: 0.426667rem 0.810667rem;
}
/*横向滚动*/
.wrapper{
  position: relative;
  height: 1.834667rem;
  overflow: hidden;
  box-shadow: 0px 2px 15px 0px rgba(171, 171, 171, 0.36);
}
.scroller {
  position: absolute;
  display: flex;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 17.92rem;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.run_img{
  font-size: 0;
}
.run_img img{
  width: 100%;

}